#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/game.coffee'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

#{set 'moreStyles'}
<link href='http://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
#{/set}

<section class="gameWrapper">
	<header>
		<h1>Snakes</h1>
	</header>

	<aside class="left">
		<div class="gameOver">
			<div class="inner">Game over, your score is <span class="finalScore"></score></div>
		</div>
		<canvas id="game" width="400" height="400"></canvas>
	</aside>

	<aside class="right">
		<div class="score">0</div>
	</aside>
</section>